In [3]:
##Simple Python Program
print("Hello World")

Hello World

In [7]:
##Variables
num1=12
type(num1)

int

In [8]:
#Variables
bun1=10
num2=20.89
name="Mind Sprint"
print("value:",num1)
print(f"value 2 {num2}") # Use Curly braces for float type
print("value 3:",name)

value: 12
value 2 20.89
value 3: Mind Sprint

In [12]:
x,y,z,a="red","green","blue","white"
type(x)

str

In [14]:
x,y,z,a="red","green","blue","white"
print(x,y,z,a)

red green blue white

In [15]:
x,y,z,a="red","green","blue","white"
print(x,y,z,a)
#Assign same value to multiple variables
p=q=r="temp"
print(p,r,q)

red green blue white
temp temp temp

In [16]:
print(type(p))

<class 'str'>

In [17]:
a=30
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

50
10
600
1.5
1

In [20]:
a=input("enter value of a:")
b=input("enter value of b:")
print(int(a)+int(b))
print(int(a)-int(b))
print(int(a)*int(b))
print(int(a)/int(b))
print(int(a)//int(b))
print(int(a)**int(b))

enter value of a: 5
enter value of b: 6

11
-1
30
0.8333333333333334
0
15625

In [22]:
print("is a equal to b?:",a==b)
print("is a equal to b?:",a!=b)
print("is a equal to b?:",a>=b)
print("is a equal to b?:",a<=b)
print("is a equal to b?:",a>b)
print("is a equal to b?:",a<b)

is a equal to b?: False
is a equal to b?: True
is a equal to b?: False
is a equal to b?: True
is a equal to b?: False
is a equal to b?: True

In [26]:
a=5
b=5
c=a*b
print(c)

25

In [29]:
a=10
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a**=5
print(a)
a/=5
print(a)
a//=5
print(a)
a%=5
print(a)

15
10
50
312500000
62500000.0
12500000.0
0.0

In [31]:
# name=input("enter your name:")
email=input("enter your email")
password=input("enter your password")
print(email=='admin2gmail.com' and password=='admin1234')

enter your email admin2gmail.com
enter your password admin1234

True

In [34]:
n=int(input("enter n value"))
if n==0:
    print(n)

enter n value 0

0

In [35]:
n=-5
if n>0:
    print("positive")
else:
    print("negative")

negative

In [36]:
a=5
if a>0:
    print("positive")
elif n==0:
    print("zero")
else:
    print("negative")

positive

In [37]:
n=5
print("positive") if n>0 else print("negative")

positive

In [38]:
n=-2
result="positive" if n>0 else "negative"
print(result)

negative

In [42]:
n=1534
if n>0:
    if n%2==0:
        print("even")
    else:
        print("odd")
else:
    ("decimal")

even

In [43]:
n=5
if n>0:
    pass
else:
    print("won't execute")

In [50]:
marks=int(input("enter your marks"))
if marks>=90  or marks==100:
    print("grade is A")
elif marks>=70 or marks==89:
    print("grade is B")
elif marks>=50 or marks==69:
    print("grade is C")

else:
    print("Sorry Fail")

enter your marks 89

grade is B

In [59]:
n=int(input("enter a value"))
if n>0:
    print("positive number")
    if n%2==0:
        print("even")
    else:
        print("odd")
else:
    print("negative")
    print("The number is less than -10?:",n<-10)

enter a value 8

positive number
even

In [65]:
amount=int(input("enter the amount"))

discount=amount*n/100
if amount>=500:
    discount=20
    print(discount)
elif amount>=200 or amount==500:
    discount=10
    print(discount)
else:
    print("no discount")

enter the amount 200

10

In [66]:
count=1
while count<=5:
    print("count:",count)
    count+=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [67]:
for num in range(1,6):
    print("number:",num)

number: 1
number: 2
number: 3
number: 4
number: 5

In [68]:
count=0
while count<5:
    if count==3:
        print("breaking at count=",count)
        break
    print("count is",count)
    count+=1

count is 0
count is 1
count is 2
breaking at count= 3

In [70]:
for num in range(1,11):
    if num==5:
        print("breaking at number",count)
        break
    print("num is",num)

num is 1
num is 2
num is 3
num is 4
breaking at number 7

In [82]:
def hello():
    print("hello world")
hello()

hello world

In [83]:
def greet(name):
    print("good noon:",name)
greet('Hema')

good noon: Hema

In [87]:
def greet(name="guest"):
    print(f"hello,{name}!")
greet("Alice")
greet()

hello,Alice!
hello,guest!

In [91]:
def factorial(n):
    if n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(3)
print(result)

6

In [96]:
def login(username,passwd):
    if username=='admin@gmail.com' and passwd=='admin1234':
        print("logged in")
    else:
        print("invalid")
username=input("enter username")
passwd=input("enter passwd")
login(username,passwd)

enter username admin@gmail.com
enter passwd admin1234

logged in

In [112]:
#list
mylist=[10,20,30,40]
print(mylist)
print(mylist[3])
print(mylist[0:3])
mylist.append(60)
print(mylist)
mylist.insert(2,25)
print(mylist)
print(mylist.pop())
print(len(mylist))
print(min(mylist))
print(max(mylist))

[10, 20, 30, 40]
40
[10, 20, 30]
[10, 20, 30, 40, 60]
[10, 20, 25, 30, 40, 60]
60
5
10
40

In [114]:
fruits=["apple","banana","cherry","dates"]
print(fruits[1:3])

['banana', 'cherry']

In [115]:
mylist.extend([1,2,3,4])
print(mylist)
mylist[5]=34
print(mylist)

[10, 20, 25, 30, 40, 1, 2, 3, 4]

In [123]:


mylist.clear()
print(mylist)

[]

In [124]:
mydata=[1,2,3,4,5]
print(mydata)

[1, 2, 3, 4, 5]

In [125]:
mydata.sort(reverse=True)
print(mydata)

[5, 4, 3, 2, 1]

In [126]:
mydata.reverse()
print(mydata)

[1, 2, 3, 4, 5]

In [131]:
squares=[X**2 for X in range(1,6)]
print(squares)
squares.reverse()

[1, 4, 9, 16, 25]

In [ ]:
todo=[]
def add_todo():
    task=input("enter your task")
    todo.append(task)
    print(add_todo)
def remove_todo():
    task=input("enter the task to remove")
    todo.pop()
    print("removed task")
def get_all_todo():
    print("todo details",todo)
while True:
    inputs=input("enter 1 for todo 2 for remove todo and 3 for getall 4 to exit ")
    if inputs=='1':
        add_todo()
    elif inputs=='2':
        remove_todo()
    elif inputs=='3':
        get_all_todo()
    else:
        print("exit")

In [2]:
#create tuple
names=('alex','bob','caty','devid')
print(names)

('alex', 'bob', 'caty', 'devid')

In [3]:
mixed=('test','True',6,78.9,[1,2,3,4])
print(mixed)

('test', 'True', 6, 78.9, [1, 2, 3, 4])

In [4]:
empty_tup=()
print(empty_tup)
data=('hello',)
print(data)
print(type(data))

()
('hello',)
<class 'tuple'>

In [5]:
t1=(1,2,3)
t2=(4,5,6)
concat=t1+t2
print(concat)

(1, 2, 3, 4, 5, 6)

In [7]:
list=[1,2,4,5,6]
print(list.count(3))
print(list.index(3))

1
2

In [10]:
student={
    "id":1,
    "name":"alex",
    "email":"alex@gmail.com",
    "address":"us"
}
for key in student:
    print(key,":",student)

id : {'id': 1, 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}
name : {'id': 1, 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}
email : {'id': 1, 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}
address : {'id': 1, 'name': 'alex', 'email': 'alex@gmail.com', 'address': 'us'}

In [11]:
for key,value in student.items():
    print(key,":",value)

id : 1
name : alex
email : alex@gmail.com
address : us

In [12]:
if "address" in student:
    print("address is present in student object")

address is present in student object

In [13]:
myset={404,200}
print(myset)

{200, 404}

In [15]:
myset.add(501)
print(myset)

{200, 404, 501}

In [20]:
A={1,2,3,4,5}
B={3,4,5,6,7}
print(A & B)
print(A.intersection(B))

{3, 4, 5}
{3, 4, 5}

In [6]:
employee={
    "A": 50000,
    "B": 60000,
    "C": 70000
}
def add_employee(name,salary):
    employee[name]=salary
    print(f"Added employee {name} with {salary}")
def update_salary(name,salary):
    if name in employee:
        employee[name]=salary
        print(f"updated employee {name} with {salary}")
    else:
        ("person not in data or list")
def remove_employee(name,salary):
    if name in employee:
        del employee[name]
        print(f"employee removed out of list")
    else:
        print("person not in data or list")
add_employee("A",1000)
update_salary("B",3000)
remove_employee("C",7800)

Added employee A with 1000
updated employee B with 3000
employee removed out of list